<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<form th:method="get" th:action="@{/books/search}">
		<label for="inquery">Enter a query:</label>
		<input name=inquery type="text" id="inquery"/>
		<br/>		
		
		<input type="submit" value="Search!"/>
	</form>
	
	<div th:if=${foundBooks}>
		<div th:each="book: ${foundBooks}">
			<p th:text="${book.getName()+ ', ' + book.getAuthor()+ ', ' + book.getYear()}">Particular book</p>
			<div th:if="${book.getOwner() == null}">
				<p>The book is free.</p>
			</div>
			<div th:unless="${book.getOwner() == null}">
				<span th:text="${book.getOwner().getFullname()}">Owner fullname</span>
				<span>holds book now</span>
			</div>
		</div>	
	</div>
	<div th:unless=${foundBooks}>
		<p>No books found</p>
	</div>
	
</body>
</html>